.sidenav-container {
  height: 100vh;
}

.main-content {
  padding: 1rem;
}

.hide-on-desktop {
  display: none;
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 250px;
  }

  .hide-on-desktop {
    display: inline-flex;
  }

  mat-sidenav {
    mode: over;
  }
}
